body {
    section {
        h1 {
            color: $word-color-3;

            span {
                color: $word-color-1;
            }
        }

        p {
            color: $word-color-1;
        }

        #input-section {
            input {
                border-color: $input-border;
            }

            input::placeholder {
                color: $word-color-1;
            }

            input.error {
                border-color: $input-border-error;
            }

            button {
                background-color: transparent;
                box-shadow: 0 5px 15px $button-box-shadow-hover;
            }

            button:hover {
                box-shadow: 0 15px 25px $button-box-shadow-hover;
            }
        }

        #warning {
            color: $word-color-2;
        }
    }
}