// Colors
$button-background: linear-gradient(left, rgb(248, 191, 191), rgb(238, 140, 140));
$button-background-hover: rgb(248, 206, 206);
$button-box-shadow-hover: rgb(206, 151, 151);
$input-border: rgb(216, 204, 204);
$input-border-error: rgb(249, 98, 98);
$word-color-1: rgb(206, 151, 151);
$word-color-2: rgb(249, 98, 98);
$word-color-3: rgb(65, 58, 58);

// Font Weights
$weight-3: 300;
$weight-4: 400;
$weight-6: 600;